#left-sidebar(data-block-clicks data-path="global-editor")
    .tab-bar
        button(data-action="global-editor/close") ◀
        //button(data-tab-toggle="sidebar/about" data-tab-default) about
        button(data-tab-toggle="sidebar/board") board
        button(data-tab-toggle="sidebar/styles") styles
        button(data-tab-toggle="sidebar/selection") selection
    .editor-page(data-tab-body="sidebar/about")
        include:markdown-it(html) /about.md
    .sidebar-page(data-tab-body="sidebar/board")
        include /pugs/board-editor.pug
    .sidebar-page(data-tab-body="sidebar/styles")
        include /pugs/style-editor.pug
    .sidebar-page(data-tab-body="sidebar/selection")
        include /pugs/card-editor.pug
