.sidebar-header
    div(data-path="link/prompt") 1 link selected
    .button-row
        button(data-action="link/deselect") deselect
        button(data-action="link/recolor") recolor
        button(data-action="link/select") select cards
        button(data-action="link/delete") ungroup
