:root {
    --selection-color: rgb(106, 90, 205);
    --group-color: rgba(205, 90, 119, 0.5);
    --link-color: rgba(113, 205, 90, 0.5);

    --black-text-outline: 1px 1px 1px black, -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black;

    --card-color: rgb(240, 248, 255);
}

html, body {
    width: 100vw; height: 100vh;
    margin: 0; padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#frame {
    position: relative; overflow: hidden; /* clip things */
    flex: 1;

    cursor: grab;

    background-color: rgb(183, 184, 176);
}

#scene {
    position: absolute; transform-origin: 0 0;
    width: 0; height: 0;

    /* i think this helps streamline the panning by telling the browser that it
       will be constantly moving
       https://stackoverflow.com/questions/26907265/css-will-change-how-to-use-it-how-it-works */
    /* will-change: transform; */

    /* transition: transform .1s linear; */
}

.icon-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .5em;
    margin: 0;
}

.icon-bar > .icon {
    width: 2em;
    height: 2em;
    grid-row: 1;

    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.target {
    position: absolute;
    z-index: -1;

    /* tiny curve on corners */
    border-radius: .5em;
    background: black;

    opacity: 50%;
}

.card-root.selected {
    box-shadow: 0 0 0 8px var(--selection-color);
}

/* main toolbar */
#toolbar {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translate(-50%, 0);
    
    font-size: 1.5em;
    padding: .5em;

    display: flex;
    flex-direction: row;
}

/* main toolbar buttons */
#toolbar > .icon {
    background: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.toolbar-group {
    border-radius: 100em;

    display: flex;
    flex-direction: row;
    gap: .5em;
    margin: 0;
    padding: .5em;
}

.toolbar-group > .icon {
    background: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

#svgs > svg {
    position: absolute;
    z-index: -3;
    pointer-events: none;
    mix-blend-mode: screen;
}

svg > * {
    pointer-events: initial;
}

#svgs > svg.link {
    stroke-width: 16px;
    z-index: -2;
}

svg.link line.selection-flash {
    stroke-width: 24px;
}

#left-sidebar {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 420px;

    background: var(--card-color);

    display: flex;
    flex-direction: column;
}

.editor-page > h1, h2, p {
    margin: 0;
}

.button-row > select, .button-row > input {
    flex: 1;
}

.button-row button[data-action="global-editor/card-style/new"] {
    flex: 0;
    white-space: nowrap;
}

.settings-grid > span {
    grid-column-start: 2;
    grid-column-end: 3;
}

.settings-grid > input, .settings-grid > select {
    grid-column-start: 3;
    grid-column-end: 4;
}

.settings-grid {
    display: grid;
    
    column-gap: 1em;
    row-gap: 1em;

    grid-template-columns: auto auto minmax(0, 1fr);
}

.settings-grid .check {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center;
}

.settings-grid input[type="checkbox"] {
    transform: scale(1.5);
}

/* CARDS */

.has-image {
    align-items: center;
}

.has-image .card-text {
    background-repeat: no-repeat;

    color: white;
    text-align: center;
    text-shadow: var(--black-text-outline);
}

.card-root {
    position: absolute;

    border-radius: 8px;
    box-shadow: 0 3px 0 var(--card-edge-color, black);
}

.card-body {
    position: relative; overflow: hidden; /* clipping */
    width: 100%; height: 100%; margin: 0;
    display: flex;
    
    background-color: var(--card-color, white);
    border-radius: inherit;
    background-size: cover;
    background-position: center;
}

.card-text {
    width: 100%;
    padding: 16px;

    color: var(--text-color, black);
    font-size: var(--text-size, initial);
    font-family: var(--text-font, "Lora", sans-serif);
    text-align: var(--text-align, inherit);
}

.card-icon-bar {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translate(-50%, 50%);

    display: flex;
    justify-content: space-evenly;
    
    padding: 1em;
    margin: 0;
    width: 100%;

    font-size: 1rem;

    pointer-events: none;
}

.card-icon-bar > a {
    width: 2em;
    height: 2em;

    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    pointer-events: initial;

    transition: transform .1s ease-in-out;
}

.card-icon-bar > *:hover  { transform: scale(1.5); }
.card-icon-bar > *:active { transform: scale(2);   }
/* don't animate cosmetic card icons */
.card-icon-bar > *.cosmetic { cursor: initial; transform: unset; }
/* don't respond to blank card icons */
.card-icon-bar > *.blank { pointer-events: none; transform: unset; }

