:root {
    font-family: sans-serif;
    font-size: 1.1em;
}

.selection-flash {
    animation-name: selection-flash;
    animation-direction: alternate;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

@keyframes selection-flash {
    0% {
        fill: black;
        stroke: black;
        border-color: black;
    }

    100% {
        fill: white;
        stroke: white;
        border-color: white;
    }
}

.resize-handle {
    position: absolute;
    width: 32px; height: 32px;
    right: -1px; bottom: -1px;

    opacity: 50%;
    display: none;
}

.resize-handle > polygon {
    cursor: se-resize;
}

.selected .resize-handle {
    display: unset;
}

body:not([data-player]) .card-root:hover .resize-handle {
    display: unset;
}

.target {
    transition: transform .1s, width .1s, height .1s;
}

.card-selection {
    position: absolute;
    left: -16px; right: -16px; top: -16px; bottom: -16px;
}

.icon.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.editor-blocker {
    position: absolute;
    width: 100%; height: 100%;
    margin: 0; padding: 0;

    background-color: rgba(0, 0, 0, 25%);
}

.editor-panel {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translate(-50%, 0);

    background: var(--card-color);
    pointer-events: initial;
    cursor: initial;

    width: 400px;
    max-width: 100%;
    height: 300px;
    max-height: 50%;

    display: flex;
    flex-direction: column;

    left: 0; top: 0; bottom: 0;
    width: 420px;
    height: 100%;
    max-height: none;
    max-width: none;
    transform: none;
}

#content-input {
    flex: 1;
}

.full {
    position: absolute;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

/* generic tabbed pages styles */
.tab-bar {
    display: grid;
    grid-auto-flow: column;
    color: white;
    background:black;
}

.tab-bar > * {
    padding: 1em;
    text-align: center;
}

.tab-bar > button {
    border: none;
    background: inherit;
    color: inherit;
    text-transform: uppercase;
}

.tab-bar > *.active {
    color: black;
    background: lightblue;
}

.tab-page {
    margin: 0;
    padding: 2em;
    overflow: auto;

    flex: 1;
    display: flex;
    flex-direction: column;
}
/* end of tabbed pages styles */

.editor-page {
    padding: 1em;
    height: 100%;
    display: flex;

    flex-direction: column;
    gap: 1em;

    overflow: auto;
}

/* editor icons page styles */
#card-editor-icons {
    display: grid;

    grid-template-columns: 3em auto;
    grid-template-rows: repeat(4, 1fr);

    column-gap: 1em;
    row-gap: 1em;
}

.icon-select {
    min-width: 3em;
    text-align: center;
    font-size: 1em;

    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.icon-action {
    font-size: 1em;
    font-family: monospace;

    grid-column-start: 2;
    grid-column-end: 3;
}
/* end of editor icons page styles */

textarea {
    flex: 1;
    min-height: 10em;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
}

.button-row > button {
    flex: 1;
    white-space: nowrap;
}

.toolbar-group[data-path="global"] {
    background: rgb(255 255 255 / 50%);
}

.toolbar-group[data-path="selection"] {
    background: var(--selection-color);
}

.toolbar-group[data-path="group"] {
    background: var(--group-color);
}

.toolbar-group[data-path="link"] {
    background: var(--link-color);
}

.toolbar-group[data-path="picker"] {
    background: var(--link-color);
}

.toolbar-group[data-path="picker"] > span {
    font-size: .75em;
    white-space: nowrap;
}

.button-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

[data-path="card-editor/styles"] {
    flex: 1;
    min-height: 10em;
}

.card-style-settings-row {
    display: flex;
}

#card-style-fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#card-style-fields > h2 {
    margin: 0;
}

body[data-player] #toolbar {
    display: none;
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}

/* sidebar stuff */
.sidebar-page {
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    background: lightblue;
}

.sidebar-panel {
    height: 100%;
    overflow: auto;

    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.button-row .shrink {
    flex: 0;
}
