.selection-flash {
    animation-name: selection-flash;
    animation-direction: alternate;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

@keyframes selection-flash {
    0% {
        fill: black;
        border-color: black;
    }

    100% {
        fill: white;
        border-color: white;
    }
}

.resize-handle {
    position: absolute;
    width: 32px; height: 32px;
    right: -1px; bottom: -1px;

    opacity: 50%;
}

.resize-handle > polygon {
    cursor: se-resize;
}

.target {
    transition: transform .1s, width .1s, height .1s;
}

.card-selection {
    position: absolute;
    left: -16px; right: -16px; top: -16px; bottom: -16px;
}
