doctype html
html
    head
        title domino 2
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
        link(rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4jWNkQANfHl77jy6GDHjktRiR+SgcQpqxGcKETcGRY+sZjhxbj5M/ElxACmBB5uByJj4w8F7AawC+0IeBQeYFYmIBXQ0LIQWEACO6wI7lrXjDwSOyGkUPAKUpOzwONiPPAAAAAElFTkSuQmCC")
        // styles
        style#base-style
            include styles/base-style.css
        style#core-style
            include styles/core-style.css
        style#editor-style
            include styles/editor-style.css
        style#card-styles
        // scripts
        script(id="database.js")
            include scripts/database.js
        script(id="utility.js")
            include scripts/utility.js
        script(id="htmlui.js")
            include scripts/htmlui.js
        script(id="domino.js")
            include scripts/domino.js
        script(id="test.js")
            include scripts/test.js
        script(id="editor/card-editor.js")
            include scripts/editor/card-editor.js
        script(id="editor/cardstyle-editor.js")
            include scripts/editor/cardstyle-editor.js
        script(id="editor/editor.js")
            include scripts/editor/editor.js
        script(id="player.js")
            include scripts/player.js
        script(id="main.js")
            include scripts/main.js
    body(onload="start()").no-select
        #frame
            #scene
                #svgs(data-empty)
                #cards(data-empty)
        #sidebar-toggle.toolbar-group.icon-bar
            .icon(data-action="global-editor/toggle" title="board settings") 🔨
        #toolbar(data-block-clicks)
            .toolbar-group.icon-bar
                //.icon.disabled(data-action="global/undo" title="undo") ↩
                //.icon.disabled(data-action="global/redo" title="redo") ↪
                .icon(data-action="project/save" title="save in browser") 💾

            .toolbar-group.icon-bar(data-path="picker" hidden)
                span click a card to link to
                .icon(data-action="picker/cancel" title="cancel picking") ❌

        include pugs/global-editor.pug
        script#project-data(type="text/json")
            include project-data.json
        script loadData();
        script#project-data-deferred(type="text/json")
            include project-data-deferred.json
        script#font(type="text/css")
            include font.css
        script loadDataDeferred();
