doctype html
html
    head
        title low tech template
        meta(charset="utf-8")
        // styles
        style#base-style
            include styles/base-style.css
        // scripts
        script
            include scripts/main.js
    body(onload="start()")
