doctype html
html
    head
        title domino 2
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
        link(rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4jWNkQANfHl77jy6GDHjktRiR+SgcQpqxGcKETcGRY+sZjhxbj5M/ElxACmBB5uByJj4w8F7AawC+0IeBQeYFYmIBXQ0LIQWEACO6wI7lrXjDwSOyGkUPAKUpOzwONiPPAAAAAElFTkSuQmCC")
        // styles
        style#base-style
            include styles/base-style.css
        style#core-style
            include styles/core-style.css
        style#editor-style(data-editor-only)
            //include styles/editor-style.css
        // third party libraries
        // scripts
        script(id="utility.js")
            include scripts/utility.js
        script(id="htmlui.js")
            include scripts/htmlui.js
        script(id="domino.js")
            include scripts/domino.js
        script(id="test.js")
            include scripts/test.js
        script(id="main.js")
            include scripts/main.js
    body(onload="start()").no-select
        #frame
            #scene
                #groups
        #toolbar(data-block-clicks)
            .toolbar-group.icon-bar
                .icon(data-action="global/undo" title="undo") ↩
                .icon(data-action="global/redo" title="redo") ↪                
                .icon(data-action="global/home" title="jump to center") 🏠

            .toolbar-group.icon-bar(data-path="global")
                .icon#unlocked(data-action="global/lock" title="prevent accidental editing") 🔓
                .icon#locked(data-action="global/unlock" title="enable editing" hidden) 🔒
                .icon#open-about(data-action="global/menu" title="information & settings") 🔨
                .icon
                .icon

            .toolbar-group.icon-bar(data-path="selection" hidden)
                .icon(data-action="selection/cancel" title="deselect") ❌
                .icon(data-action="selection/center" title="center selected") 🔎
                .icon(data-action="selection/group" title="group selected") 🔯
                .icon(data-action="selection/delete" title="delete selected") 💥
                //.icon(data-action="selection/link" title="link selected") 🖇
        script#project-data(type="text/json")
            include project-data.json
        script loadData();
        script#project-data-deferred(type="text/json")
            include project-data-deferred.json
        script#font(type="text/css")
            include font.css
        script loadDataDeferred();
