doctype html
html
    head
        title domino 2
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
        link(rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4jWNkQANfHl77jy6GDHjktRiR+SgcQpqxGcKETcGRY+sZjhxbj5M/ElxACmBB5uByJj4w8F7AawC+0IeBQeYFYmIBXQ0LIQWEACO6wI7lrXjDwSOyGkUPAKUpOzwONiPPAAAAAElFTkSuQmCC")
        // styles
        style#base-style
            include styles/base-style.css
        style#core-style
            include styles/core-style.css
        style#editor-style
            include styles/editor-style.css
        style#card-styles
        // third party libraries
        // scripts
        script(id="database.js")
            include scripts/database.js
        script(id="utility.js")
            include scripts/utility.js
        script(id="htmlui.js")
            include scripts/htmlui.js
        script(id="domino.js")
            include scripts/domino.js
        script(id="test.js")
            include scripts/test.js
        script(id="editor/card-editor.js")
            include scripts/editor/card-editor.js
        script(id="editor/cardsty;e-editor.js")
            include scripts/editor/cardstyle-editor.js
        script(id="editor/editor.js")
            include scripts/editor/editor.js
        script(id="player.js")
            include scripts/player.js
        script(id="main.js")
            include scripts/main.js
    body(onload="start()").no-select
        #frame
            #scene
                #svgs(data-empty)
                #cards(data-empty)
        #toolbar(data-block-clicks)
            .toolbar-group.icon-bar
                //.icon.disabled(data-action="global/undo" title="undo") ↩
                //.icon.disabled(data-action="global/redo" title="redo") ↪                
                .icon#open-about(data-action="global-editor/toggle" title="board settings") 🔨
                //.icon(data-action="project/save" title="save in browser") 💾

            .toolbar-group.icon-bar(data-path="selection" hidden)
                //.icon(data-action="selection/cancel" title="deselect") ❌
                //.icon(data-action="selection/center" title="center selected") 🔎
                .icon(data-action="selection/copy-id" data-path="selection/copy-id" title="copy card id") 🔗
                .icon(data-action="selection/edit" data-path="selection/edit" title="edit cards") 📝
                .icon(data-action="selection/link" data-path="selection/link" title="link selected") ↗
                .icon(data-action="selection/group" data-path="selection/group" title="group selected") 📁
                .icon(data-action="selection/delete" title="delete selected") 💥
            
            .toolbar-group.icon-bar(data-path="group" hidden)
                //.icon(data-action="group/deselect" title="deselect") ❌
                .icon(data-action="group/select" title="select cards") 🎴
                .icon(data-action="group/recolor" title="reroll color") 🎨
                .icon(data-action="group/delete" title="delete group") 💥
            
            .toolbar-group.icon-bar(data-path="link" hidden)
                //.icon(data-action="link/deselect" title="deselect") ❌
                .icon(data-action="link/select" title="select cards") 🎴
                .icon(data-action="link/recolor" title="reroll color") 🎨
                .icon(data-action="link/delete" title="delete link") 💥

            .toolbar-group.icon-bar(data-path="picker" hidden)
                span click a card to link to
                .icon(data-action="picker/cancel" title="cancel picking") ❌

        include pugs/card-editor.pug
        include pugs/global-editor.pug
        script#project-data(type="text/json")
            include project-data.json
        script loadData();
        script#project-data-deferred(type="text/json")
            include project-data-deferred.json
        script#font(type="text/css")
            include font.css
        script loadDataDeferred();
